body{
    background-color:#121212;
    display:flex;
    justify-content: center;
    box-sizing:border-box;
}
/*Get everything on that same font*/
h1, p {
    font-family:SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}
h1{
    font-size:20px;
}
.space{height:15px;}
/*Contains the page*/
.container{
    width:800px; 
    height:100%;
    padding:1.5%;
    align-self:center;
    background-color: #343232cc;
    border-radius: 30px;
}
/*Section 1: Header*/
.header{
    display:flex;
    justify-content:start;
    height:10%;
    padding:1%;
}
.header h1{
    color:#FFFFFF;
    font-size:30px;
}
.header svg{
    max-height:70px;
    margin-right:2%;
}

/*Section 2:Currently listening to*/
.queue{
    display:flex;
    flex-direction:row;
    height:22%;
    align-content:center;
}
.queue .current-listening{
    display:flex;
    flex-direction:column;
    width:30%;
    padding-left:2%;
}
.queue .current-listening #current{
    height:170px;
    width:210px;
    border-radius: 10px;
    background-color:#121212;
}
.queue .up-next{
    display:flex;
    flex-direction:column; 
    width:70%;
}
.queue .up-next p{align-self:center; font-size:17px;}
.queue .up-next .next-box{
    display:flex;
    flex-direction:row;
    height:100%;
}
.queue .up-next .next-box .next{
    height:150px;
    width:100%;
    margin-right:1%;
    background-color:#121212;
    border-radius: 10px;
}

/*Section 3: Most listened songs*/
.most-listened{
    display:flex;
    flex-flow:row;
}
.most-listened .top-song{
    display:flex;
    flex-direction:column;
    width:30%;
    padding-left:2%;
    margin-right:80px;
}
.most-listened .top-song #song1{
    height:170px;
    width:210px;
    border-radius: 10px;
    background-color:#121212;
}
.most-listened .song-grid{/*Grid container*/
    display:grid;
    grid-template-columns:repeat(4, minmax(30%, 40%));
    grid-template-rows:repeat(3, minmax(30%, 40%));
    row-gap: 4px;
    column-gap: 5px;
}
.most-listened .song-grid .grid-item{/*Grid item*/
    background-color:#121212;
    width:80px;
    height:80px;
    border-radius: 5px;
}
/*Section 4: Favourite artists*/
.fav-artists{
    height:22%;
}
.fav-artists .artist-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.fav-artists .artist-container .artists{
    border-radius:50px;
    height:100px;
    width:100px;
    background-color:#121212;
}

/*Section 5: Playlists*/
.playlists-container{
    display:flex;
    flex-direction:column;
    height:22%;
}
.playlists-container .playlist-list{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.playlists-container .playlist-list .playlist{
    height:150px;
    width:160px;
    border-radius: 10px;
    background-color:#121212;
}

/*Section 6: Footer*/
footer{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
footer #code a{
    text-decoration: none;
    color:#FFFFFF;
}
footer #code a:hover{color:#0bb06c;text-decoration:underline;}
/*TODO: Make github SVG larger when hovered over*/
footer #github{
    display:flex;
    flex-direction:row;
}
footer #github a img{
    max-height:40px;
    margin-left:10px;
}
footer #github a img:hover{
    max-height:45px;
}