body{
    background-color:#121212;
    display:flex;
    justify-content: center;
    box-sizing:border-box;
}
/*Get everything on that same font*/
h1, p {
    font-family:SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}
/*Contains the page*/
.container{
    width:800px; 
    height:100%;
    padding:1.5%;
    align-self:center;
    background-color: #343232cc;
    border-radius: 30px;
}
/*Section 1: Header*/
.header{
    display:flex;
    justify-content:start;
    height:10%;
    padding:1%;
}
.header h1{
    color:rgba(255, 255, 255, 0.775);
}
.header img{
    max-height:60px;
    margin-right:2%;
}

/*Section 2:Currently listening to*/
.queue{
    display:flex;
    flex-direction:row;
    height:22%;
    align-content:center;
}
.queue .current-listening{
    display:flex;
    flex-direction:column;
    width:30%;
    padding-left:2%;
}
.queue .current-listening h1{
    font-size:20px;
}
.queue .current-listening #current{
    height:170px;
    width:90%;
    border-radius: 10px;
    background-color:#121212;
}
.queue .up-next{
    display:flex;
    flex-direction:column; 
    width:70%;
}
.queue .up-next p{align-self:center; font-size:17px;}
.queue .up-next .next-box{
    display:flex;
    flex-direction:row;
    height:100%;
}
.queue .up-next .next-box .next{
    height:150px;
    width:100%;
    margin-right:1%;
    background-color:#121212;
    border-radius: 10px;
}

/*Section 3: Favourite artists*/
.fav-artists{
    height:22%;
}
.fav-artists .artist-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.fav-artists .artist-container .artists{
    border-radius:40px;
    height:80px;
    width:80px;
    background-color:#121212;
    border:1px solid rgba(69, 223, 69, 0.692);
}

/*Section 4: Playlists*/
.playlists-container{
    display:flex;
    flex-direction:column;
    height:22%;
}
.playlists-container .playlist-list{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.playlists-container .playlist-list .playlist{
    height:150px;
    width:160px;
    border-radius: 10px;
    background-color:#121212;
}
